*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    width: 90%;
    background-color: cadetblue;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
}
#img{
    width: 500px;
    margin: 20px auto;
    border: 1px solid black;
}
#img img{
    display: block;
    margin: 20px auto;
}